body {
  background-color: #e6f2ff;  
}

.container-fluid {
  border-width: 2px;
  border-radius: 1%;
  margin: 50px;
  padding: 15px;
  background-color: white; 
}

a.unit {
  color:black;
  margin: 10px;
}

a.unit.active {
  text-decoration: none;
}

a.unit:not(.active) { cursor: pointer; cursor: hand; }

a.active {
    display: inline; 
    padding: 4px 6px 4px 4px;

    -moz-border-radius: 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #006fe6;
    color: black;
    text-align: center;
}

#temp {
  font-size:300%;
}

#neighborhood, #date, #weather,
#city, #wind, #humidity {
  margin: 5px 10px ;
  color: grey;
}

#city {
  font-size:150%;
}

.icon {
  font-size:400%;
}

.ion-ios-cloudy, 
.ion-ios-thunderstorm,
.ion-ios-rainy, 
.ion-ios-snowy {
  color: lightblue;
}

.ion-ios-sunny, .ion-ios-partlysunny {
  color: yellow;  
} 

.ion-ios-thunderstorm, .ion-ios-cloudy-night, .ion-ios-moon {
  color: gray;
}